# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# VS Code
.vscode/

# OS files
.DS_Store

# Data
data/raw/*
!data/raw/.gitkeep

data/outputs/*
!data/outputs/.gitkeep